#messages {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-bottom: 100px;
}

.message {
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 3px;
	padding-left: 10px;
}

.message.self {
	background-color: #F1A8CB;
}

.message.edited {
	border-color: orange;
}

.message.edited > .content::after{
	color: orange;
	content: " (edited)";
}

.message.deleted {
	color: gray;
	text-decoration: line-through;
}

.channel::before {
	content: "#";
}

.channel::after {
	content: " - ";
}

.author::after {
	content: ": ";
}

.author > .bot {
	background-color: #7289DA;
	color: white;
	border-radius: 4px;
	padding-left: 1px;
	padding-right: 1px;
	margin-left: 2px;
}
